<!-- $Id: order_query.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
<form action="order.php?act=list" method="post" enctype="multipart/form-data" name="searchForm">
  <table cellspacing="1" cellpadding="3" width="100%">
    <tr>
      <td><div align="right"><strong>{$lang.label_order_sn}</strong></div></td>
      <td><input name="order_sn" type="text" id="order_sn" size="30"></td>
      <td><div align="right"><strong>{$lang.label_mobile}</strong></div></td>
      <td><input name="mobile" type="text" id="mobile" size="20"></td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_shipping}</strong></div></td>
      <td><select name="shipping_id" id="select4">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$shipping_list item=shipping}
        <option value="{$shipping.shipping_id}">{$shipping.shipping_name}</option>
        {/foreach}
            </select></td>
      <td><div align="right"><strong>配送站点</strong></div></td>
      <td><select name="distribution_id" id="select10">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$distribution_list item=distribution}
        <option value="{$distribution.distribution_id}">{$distribution.distribution_name}</option>
        {/foreach}
      </select>
      </td>
    </tr>
    <tr>
      <td><div align="right"><strong>商品分类</strong></div></td>
      <td><select name="cat_id" id="select11">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$cat_list item=cat}
        <option value="{$cat.cat_id}">{$cat.cat_name}</option>
        {/foreach}
      </select>
      </td>
      <td><div align="right"><strong>{$lang.label_payment}</strong></div></td>
      <td><select name="pay_id" id="select5">
        <option value="0">{$lang.select_please}</option>
        {foreach from=$pay_list item=pay}
        <option value="{$pay.pay_id}">{$pay.pay_name}</option>
        {/foreach}
            </select></td>
    </tr>
    <tr>
      <td><div align="right"><strong>配送时间</strong></div></td>
      <td>
      <input type="text" name="shipping_date" maxlength="60" size="20" readonly="readonly" id="shipping_date_id" />
      <input name="shipping_date_btn" type="button" id="shipping_date_btn" onclick="return showCalendar('shipping_date_id', '%Y-%m-%d', '24', false, 'shipping_date_btn');" value="{$lang.btn_select}" class="button"/>
      </td>
    </tr>
    <tr>
      <td><div align="right"><strong>{$lang.label_order_status}</strong></div></td>
      <td colspan="3">
        <select name="order_status" id="select9">
          <option value="-1">{$lang.select_please}</option>
          {html_options options=$os_list selected=-1}
        </select>
        <strong>{$lang.label_pay_status}</strong>        <select name="pay_status" id="select11">
          <option value="-1">{$lang.select_please}</option>
          {html_options options=$ps_list selected=-1}
        </select>
        <strong>{$lang.label_shipping_status}</strong>        <select name="shipping_status" id="select10">
          <option value="-1">{$lang.select_please}</option>
          {html_options options=$ss_list selected=-1}
        </select></td>
    </tr>
    <tr>
      <td colspan="4"><div align="center">
        <input name="query" type="submit" class="button" id="query" value="{$lang.button_search}" />
        <input name="reset" type="reset" class='button' value='{$lang.button_reset}' />
      </div></td>
      </tr>
  </table>
</form>
</div>
{insert_scripts files="../js/transport.org.js,../js/region.js"}
{literal}
<script language="JavaScript">
region.isAdmin = true;
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
</script>
{/literal}
{include file="pagefooter.htm"}
